html{height: 100%;}
body {
	font-size: 67%;
	background-color: #f0f0f0;
	font-family: Helvetica, Arial, sans-serif;
}
body.index {
	background: -webkit-gradient(radial, 200px 200px, 0, 200px 200px, 100, from(#fff), to(#ddd));
	background: -webkit-radial-gradient(200px 200px, closest-corner, #fff, #ddd);
	background: -moz-radial-gradient(200px 200px, #fff, #ddd);
	background: -ms-radial-gradient(200px 200px, closest-corner, #fff, #ddd);
}
.container {
	padding: 20px;
	font-size: 1.2em;
	}
h1 {
	font-family: 'Lobster', cursive;
	font-size: 4em;
	padding: 0;
	margin: 0;
	}
h2 {
	
	}
p {
	width: 420px;
	line-height: 18px;
	padding: 30px 0 20px 0;
	}
ul {
	list-style-type: none;
	margin:0; padding: 0;
	margin-top: 20px;
	}
ul li {
	margin-bottom: 10px;
	}
ul li a {
	display: inline-block;
	padding: 10px 20px; 
	background: #444;
	color: #f0f0f0;
	font-size: 1.2em;
	text-decoration: none;
	
	-webkit-border-radius: 10px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius: 10px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-radius: 10px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	}
ul li a:hover {
	background: #222;
	color: #fff;
	}